<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/formularios/ejercicio1">Ejercicio1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/formularios/ejercicio2">Ejercicio2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/formularios/ejercicio3">Ejercicio3</a>
      </li>
           <li class="nav-item">
        <a class="nav-link" href="/formularios/ejercicio4">Ejercicio4</a>
      </li>
    <li class="nav-item" >
        <a class="nav-link" href="/formularios/ejercicio5">Ejercicio5</a>
      </li>
    </ul>
  </div>
</nav>
Ejercicio 5